<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cpimhoff.newFiles</string>
	<key>connections</key>
	<dict>
		<key>1D1C1B8B-3F56-40AA-B7DE-FE7256914407</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBF294ED-88F0-4B62-93E4-20FE48C23842</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>21A33249-6888-4BB5-AB9E-739A31D379BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5793803-4D4C-4443-B13B-2F89280AA005</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F0274AE0-50B4-4CA2-A142-14480EA08709</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2320E036-2CFD-45D4-ACC4-2E0302058B06</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46FCFEEB-F425-4AAA-993D-1C9C0F2A24A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>25F7CA24-9FFB-451F-8671-740208C15070</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A358CDDF-B92A-4FAE-94E7-A65842375DF1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2843F069-3FCE-4260-BBF6-228417B3A6C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D12E914-2C63-4D3B-A8DC-7972EB8119B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>33427AF2-96C0-4363-ABF6-08EC1C63F008</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1CB39CE-2A65-4B9A-B1B3-74E1A9F1A3D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3C9ADC1B-6BFE-4EA3-94FC-EBECB6D540F9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2843F069-3FCE-4260-BBF6-228417B3A6C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>46FCFEEB-F425-4AAA-993D-1C9C0F2A24A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D80622B-B3CE-4562-981F-FBD3E88E0575</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A79D435A-5EEA-4CA6-BCB9-21DFA9100797</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4CEC837A-9F5D-4F54-9C38-79A4442A4A1F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CAAA0DDE-CD21-4C87-902A-85405C9B2CAF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4D12E914-2C63-4D3B-A8DC-7972EB8119B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E3B2D75-F8ED-4F7A-96B6-C865EA2F3E99</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D6E945B9-B53A-4350-B8A8-D35ECD675FB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6D80622B-B3CE-4562-981F-FBD3E88E0575</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C0233F3-CE0B-4006-A224-FDB2F390D979</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>84F14AAA-D444-4666-B376-8434B0EE5C8A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9DA74AD-3245-49DB-BAE1-59D51D72A9B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E3B2D75-F8ED-4F7A-96B6-C865EA2F3E99</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABFA3EDF-B20A-4DDF-B756-4C894A33B9B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8F378116-5C46-48BF-B381-E2AF7ABC323E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C9ADC1B-6BFE-4EA3-94FC-EBECB6D540F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90840283-94C6-4098-A09D-90DF4C29E925</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F175E4A-713D-484C-A003-2536A85819DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C0233F3-CE0B-4006-A224-FDB2F390D979</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D1C1B8B-3F56-40AA-B7DE-FE7256914407</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>9C5CACD6-693A-4904-9929-379787C6FCB4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7881E90-6E71-4629-AA6B-475349BDB73A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A7881E90-6E71-4629-AA6B-475349BDB73A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E5E08A78-3F44-4C47-8F06-000556EA31AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A79D435A-5EEA-4CA6-BCB9-21DFA9100797</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D87CC75C-7594-47F1-9ABD-C03EF9897327</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A7A1091F-71DE-48DF-9DE0-FDDAA55A936D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7881E90-6E71-4629-AA6B-475349BDB73A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ABFA3EDF-B20A-4DDF-B756-4C894A33B9B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA0B8DA3-D2D6-4E46-925B-860662D214C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B0B65E75-DA75-4368-A944-BABF63D67305</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C5CACD6-693A-4904-9929-379787C6FCB4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BBF294ED-88F0-4B62-93E4-20FE48C23842</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21A33249-6888-4BB5-AB9E-739A31D379BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CAAA0DDE-CD21-4C87-902A-85405C9B2CAF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7881E90-6E71-4629-AA6B-475349BDB73A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D1CB39CE-2A65-4B9A-B1B3-74E1A9F1A3D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84F14AAA-D444-4666-B376-8434B0EE5C8A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>25F7CA24-9FFB-451F-8671-740208C15070</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D6E945B9-B53A-4350-B8A8-D35ECD675FB6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33427AF2-96C0-4363-ABF6-08EC1C63F008</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D87CC75C-7594-47F1-9ABD-C03EF9897327</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5495D40-B550-4BEC-9D71-0CFE38FEA802</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DA0B8DA3-D2D6-4E46-925B-860662D214C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7A1091F-71DE-48DF-9DE0-FDDAA55A936D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B0B65E75-DA75-4368-A944-BABF63D67305</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4CEC837A-9F5D-4F54-9C38-79A4442A4A1F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E5E08A78-3F44-4C47-8F06-000556EA31AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90840283-94C6-4098-A09D-90DF4C29E925</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F0274AE0-50B4-4CA2-A142-14480EA08709</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F378116-5C46-48BF-B381-E2AF7ABC323E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F5495D40-B550-4BEC-9D71-0CFE38FEA802</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C0233F3-CE0B-4006-A224-FDB2F390D979</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F5793803-4D4C-4443-B13B-2F89280AA005</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2843F069-3FCE-4260-BBF6-228417B3A6C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Charlie Imhoff</string>
	<key>description</key>
	<string>Creates new files quickly</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>New Files</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"imagefile":"299933161e10f5a064a6d04cd4513e330e702d51.png","title":"Plain Text File","arg":"txt","subtitle":"txt"},{"imagefile":"85721947ae52a377be956b328734d35fc7be49c7.png","title":"Markdown File","arg":"md","subtitle":"md"},{"imagefile":"8e5f09f2b894060f06cf5851f369e1caf5c25885.png","title":"Folder","arg":"folder","subtitle":"a new, empty folder"},{"imagefile":"6df5efd940e8f3632f85b55cb64b0b7a9f8bda1b.png","title":"Custom Extension","arg":"custom","subtitle":"."}]</string>
				<key>keyword</key>
				<string>new</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Choose a File Type</string>
				<key>title</key>
				<string>New</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>2320E036-2CFD-45D4-ACC4-2E0302058B06</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Name</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9C0233F3-CE0B-4006-A224-FDB2F390D979</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Desktop","arg":"~\/Desktop","subtitle":"~\/Desktop"},{"title":"Documents","arg":"~\/Documents","subtitle":"~\/Documents"},{"title":"Browse for Folder","arg":"browse"},{"title":"currentFolder","arg":".\/","subtitle":".\/"},{"title":"asdf","arg":"~\/TMP","subtitle":"~\/TMP"}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Choose a location for this file/folder</string>
				<key>title</key>
				<string>Located in</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>BBF294ED-88F0-4B62-93E4-20FE48C23842</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:path}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>browse</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>F5793803-4D4C-4443-B13B-2F89280AA005</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:type}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>custom</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>6D80622B-B3CE-4562-981F-FBD3E88E0575</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>type</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>46FCFEEB-F425-4AAA-993D-1C9C0F2A24A1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>21A33249-6888-4BB5-AB9E-739A31D379BF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>name</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1D1C1B8B-3F56-40AA-B7DE-FE7256914407</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Custom Extension</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D87CC75C-7594-47F1-9ABD-C03EF9897327</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Located In</string>
				<key>types</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>8F378116-5C46-48BF-B381-E2AF7ABC323E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3C9ADC1B-6BFE-4EA3-94FC-EBECB6D540F9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:path}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>browse</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>F0274AE0-50B4-4CA2-A142-14480EA08709</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>type</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F5495D40-B550-4BEC-9D71-0CFE38FEA802</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:type}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>custom</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>A79D435A-5EEA-4CA6-BCB9-21DFA9100797</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>2843F069-3FCE-4260-BBF6-228417B3A6C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<false/>
				<key>filename</key>
				<string>{var:path}/{var:name}.{var:type}</string>
				<key>filetext</key>
				<string>{var:contents}</string>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>E5E08A78-3F44-4C47-8F06-000556EA31AF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>{var:path}/{var:name}.{var:type}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>4F175E4A-713D-484C-A003-2536A85819DD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Blank","arg":"blank","subtitle":"an empty file"},{"title":"Clipboard","arg":"clipboard","subtitle":"contents pasted from current clipboard"},{"title":"Type...","arg":"type","subtitle":"type out contents in the Alfred window"}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>with Contents...</string>
				<key>title</key>
				<string>With Contents</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>ABFA3EDF-B20A-4DDF-B756-4C894A33B9B0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>contents</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A7881E90-6E71-4629-AA6B-475349BDB73A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:contentType}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>blank</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>A7A1091F-71DE-48DF-9DE0-FDDAA55A936D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>contentType</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DA0B8DA3-D2D6-4E46-925B-860662D214C3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>4D12E914-2C63-4D3B-A8DC-7972EB8119B5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:openNewFiles}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>default</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>90840283-94C6-4098-A09D-90DF4C29E925</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:type}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>folder</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>8E3B2D75-F8ED-4F7A-96B6-C865EA2F3E99</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -n | pbpaste</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9C5CACD6-693A-4904-9929-379787C6FCB4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:contentType}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>B0B65E75-DA75-4368-A944-BABF63D67305</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Type Contents</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CAAA0DDE-CD21-4C87-902A-85405C9B2CAF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:contentType}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>type</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>4CEC837A-9F5D-4F54-9C38-79A4442A4A1F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>103</integer>
				<key>script</key>
				<string>mkdir {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D1CB39CE-2A65-4B9A-B1B3-74E1A9F1A3D0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/System/Library/CoreServices/Finder.app</string>
				<key>sourcefile</key>
				<string>{var:path}/{var:name}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>F9DA74AD-3245-49DB-BAE1-59D51D72A9B5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:path}/{var:name}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>33427AF2-96C0-4363-ABF6-08EC1C63F008</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:type}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>folder</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>D6E945B9-B53A-4350-B8A8-D35ECD675FB6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:openNewFolders}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>finder</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>84F14AAA-D444-4666-B376-8434B0EE5C8A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Utilities/Terminal.app</string>
				<key>sourcefile</key>
				<string>{var:path}/{var:name}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>A358CDDF-B92A-4FAE-94E7-A65842375DF1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:openNewFolders}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>terminal</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>25F7CA24-9FFB-451F-8671-740208C15070</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>'New Files' is a workflow which allows for the quick creation of files and folders.

'New Files' requires Alfred 3.



== USE ==
'New Files' takes in the following parameters to create a new file:
	- File Type (from defaults list or specify file extension)
	- File Name
	- Location (from defaults list or browse for folder)

For non-folders, you can then create the document with specific contents:
	- No Contents (blank)
	- Contents of Clipboard (text only)
	- Type Contents in Alfred Window



== CONFIG ==
'New Files' supports modifying the behavior of the workflow in simple ways.

=== options ===
Certain options can be configured in the Workflow Enviromental Variables:

	- openNewFiles = 'default'. New files will automatically be opened in the default application after being created.
	- openNewFiles = 'none'. New files will not be automatically opened.
	
	- openNewFolders = 'finder'. New folders will automatically be opened in Finder.
	- openNewFolders = 'terminal'. New folders will automatically be opened in a new Terminal Window.
	- openNewFolders = 'none'. New folders will not be automatically opened.

=== editing defaults lists ===
To edit the defaults lists of File Type and Location, configure the List Filter nodes in the workflow tree.

	-- File Type --
	Ensure the args parameter of any option is the extension of the file type. 'custom' is reserved for the workflow.

	-- Location --
	Ensure the args parameter of any option is a valid path to the folder. Use '~/' to start the path at the User folder. 'browse' is reserved for the workflow.</string>
	<key>uidata</key>
	<dict>
		<key>1D1C1B8B-3F56-40AA-B7DE-FE7256914407</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>21A33249-6888-4BB5-AB9E-739A31D379BF</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>990</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>2320E036-2CFD-45D4-ACC4-2E0302058B06</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>gets file type parameter

--- This node contains a defaults list suitable for customization ---</string>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>25F7CA24-9FFB-451F-8671-740208C15070</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>if open folder setting is 'terminal'</string>
			<key>xpos</key>
			<integer>910</integer>
			<key>ypos</key>
			<integer>1040</integer>
		</dict>
		<key>2843F069-3FCE-4260-BBF6-228417B3A6C6</key>
		<dict>
			<key>xpos</key>
			<integer>1370</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>33427AF2-96C0-4363-ABF6-08EC1C63F008</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>configures parameters into a full directory path query for the script</string>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>880</integer>
		</dict>
		<key>3C9ADC1B-6BFE-4EA3-94FC-EBECB6D540F9</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>1240</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>46FCFEEB-F425-4AAA-993D-1C9C0F2A24A1</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>4CEC837A-9F5D-4F54-9C38-79A4442A4A1F</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>user opted to type contents in alfred window</string>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>4D12E914-2C63-4D3B-A8DC-7972EB8119B5</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>4F175E4A-713D-484C-A003-2536A85819DD</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>Opens the file in its default application</string>
			<key>xpos</key>
			<integer>1250</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>6D80622B-B3CE-4562-981F-FBD3E88E0575</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>84F14AAA-D444-4666-B376-8434B0EE5C8A</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>if open folder setting is 'finder'</string>
			<key>xpos</key>
			<integer>1160</integer>
			<key>ypos</key>
			<integer>880</integer>
		</dict>
		<key>8E3B2D75-F8ED-4F7A-96B6-C865EA2F3E99</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>if type is a file</string>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>8F378116-5C46-48BF-B381-E2AF7ABC323E</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>gets the destination for the file/folder (if 'browse' was selected)</string>
			<key>xpos</key>
			<integer>1100</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>90840283-94C6-4098-A09D-90DF4C29E925</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>if open file setting is 'default'</string>
			<key>xpos</key>
			<integer>1160</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>9C0233F3-CE0B-4006-A224-FDB2F390D979</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>gets name of file/folder</string>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>9C5CACD6-693A-4904-9929-379787C6FCB4</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>A358CDDF-B92A-4FAE-94E7-A65842375DF1</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>Opens the file in Terminal</string>
			<key>xpos</key>
			<integer>1250</integer>
			<key>ypos</key>
			<integer>1010</integer>
		</dict>
		<key>A7881E90-6E71-4629-AA6B-475349BDB73A</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>930</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>A79D435A-5EEA-4CA6-BCB9-21DFA9100797</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>A7A1091F-71DE-48DF-9DE0-FDDAA55A936D</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>blank</string>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>ABFA3EDF-B20A-4DDF-B756-4C894A33B9B0</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Set the initial contents of the file</string>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>B0B65E75-DA75-4368-A944-BABF63D67305</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>contents from clipboard</string>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>BBF294ED-88F0-4B62-93E4-20FE48C23842</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>gets the destination for the file/folder

--- This node contains a defaults list suitable for customization ---</string>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>CAAA0DDE-CD21-4C87-902A-85405C9B2CAF</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>D1CB39CE-2A65-4B9A-B1B3-74E1A9F1A3D0</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>creates a folder</string>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>850</integer>
		</dict>
		<key>D6E945B9-B53A-4350-B8A8-D35ECD675FB6</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>if type is a folder</string>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>880</integer>
		</dict>
		<key>D87CC75C-7594-47F1-9ABD-C03EF9897327</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>gets custom file extension (if needed)</string>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>DA0B8DA3-D2D6-4E46-925B-860662D214C3</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>E5E08A78-3F44-4C47-8F06-000556EA31AF</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Creates the file with the initial contents</string>
			<key>xpos</key>
			<integer>990</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>F0274AE0-50B4-4CA2-A142-14480EA08709</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>1050</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>F5495D40-B550-4BEC-9D71-0CFE38FEA802</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>F5793803-4D4C-4443-B13B-2F89280AA005</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>1220</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>F9DA74AD-3245-49DB-BAE1-59D51D72A9B5</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>Opens the file in Finder</string>
			<key>xpos</key>
			<integer>1250</integer>
			<key>ypos</key>
			<integer>850</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>openNewFiles</key>
		<string>default</string>
		<key>openNewFolders</key>
		<string>finder</string>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/cpimhoff/alfred3-newFiles</string>
</dict>
</plist>
