<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>huyc0769.eudic-lookup</string>
	<key>connections</key>
	<dict>
		<key>B5174C20-64A8-4027-BAE7-235E0778850E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E00580CC-6D50-42F2-9673-D53416588AB0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FE35CB12-A05F-4A7F-83C5-2F4AC3FBDC35</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B5174C20-64A8-4027-BAE7-235E0778850E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Hu Yingcong</string>
	<key>description</key>
	<string>look up certain words in Eudic.app</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Eudic-lookup</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  	tell application "Eudic"
		reopen		show dic with word q	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>E00580CC-6D50-42F2-9673-D53416588AB0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dic</string>
				<key>subtext</key>
				<string>在欧路词典中搜索 "{query}"</string>
				<key>text</key>
				<string>seach for "{query}"</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FE35CB12-A05F-4A7F-83C5-2F4AC3FBDC35</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B5174C20-64A8-4027-BAE7-235E0778850E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Author: Hu Yingcong</string>
	<key>uidata</key>
	<dict>
		<key>B5174C20-64A8-4027-BAE7-235E0778850E</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>E00580CC-6D50-42F2-9673-D53416588AB0</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>FE35CB12-A05F-4A7F-83C5-2F4AC3FBDC35</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
